{% extends "header.html" %}
{% block content %}

<div class="container-fluid">
<blockquote ><p>What is Sentimental Analysis</p></blockquote>
&nbsp;
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sentiment analysis or opinion mining is the computational study of opinions, sentiments, and emotions expressed in text. The use of sentiment analysis is becoming more widely leveraged because the information it yields can result in the monetization of products and services.</p>
<p>The opinions of others have a significant influence in
our daily decision-making process. These decisions
range from buying a product such as a smart phone to
making investments to choosing a school—all decisions
that affect various aspects of our daily life. Before the
Internet, people would seek opinions on products and
services from sources such as friends, relatives, or
consumer reports. </p>
<p>However, in the Internet era, it is much easier to collect
diverse opinions from different people around the world.
People look to review sites (e.g., CNET, Epinions.com),
e-commerce sites (e.g., Amazon, eBay), online opinion
sites (e.g., TripAdvisor, Rotten Tomatoes, Yelp) and social
media (e.g., Facebook, Twitter) to get feedback on how
a particular product or service may be perceived in the
market.</p>

<p>Similarly, organizations use surveys, opinion polls,
and social media as a mechanism to obtain feedback
on their products and services. sentiment analysis or
opinion mining is the computational study of opinions,
sentiments, and emotions expressed in text. The use of
sentiment analysis is becoming more widely leveraged
because the information it yields can result in the
monetization of products and services. </p>

<p>For example, by obtaining consumer feedback on a
marketing campaign, an organization can measure the
campaign’s success or learn how to adjust it for greater
success. Product feedback is also helpful in building
better products, which can have a direct impact on
revenue, as well as comparing competitor offerings. </p>

<blockquote ><p>Sentiment Classification Levels</p></blockquote>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Words express various kinds of sentiments that may
be positive, negative, strong, or weak. To perform
sentiment analysis, it is important to understand the
polarity of words and classify sentiments into categories
such as positive, negative, or neutral. This task can be
accomplished through the use of sentiment lexicons.
There are different types of sentiment lexicons available
that have words classified as having positive or negative
sentiments. </p>
&bull;<cite>&nbsp;Sentence Based Classification</cite>
<br/>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An objective sentence presents some factual
information, while a subjective sentence expresses
personal feelings, views, emotions, or beliefs. </p>


<p>Here you can try by entering a Review</p>
<a href="/samsung">Enter a Review</a><br/><br/>
&bull;<cite>&nbsp;Feature Based Classification</cite>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; the goal is to identify and extract object
features that have been commented on by the opinion
holder and determine whether the opinion is positive,
negative, or neutral. Feature synonyms are grouped,
and a feature-based summary of multiple reviews is
produced. </p>
<a href="/upload">Upload Reviewset</a><br/><br/>

{% endblock %}